In [5]:
from zoo import hours
hours()

Open 9-5 daily

In [6]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [1]:
import sqlite3
import csv
import sqlalchemy as sa

text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('books2.csv', 'wt', encoding="utf-8") as outfile:
    outfile.write(text)
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')
db.commit()
ins_str = 'insert into book values(?, ?, ?)'
with open('books2.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))
sql = 'select title from book order by title asc'
for row in db.execute(sql):
    print(row[0])
for row in db.execute('select * from book order by year'):
    print(row)
conn = sa.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miﾃｩville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)